/*Fonts and general Setup*/
*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Raleway-Light;
  src: url('fonts/Raleway-Light.ttf');
}
.centered{
  text-align: center;
}
.bold{
  font-weight: 900;
}
.italicized{
  font-weight: 100;
}
h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align:center;
}
h2{
  padding: 20px;
}
.white-text{
  color: #FFFFFF;
}
.orange-text{
  color: #e2574c;
}
.grey-text{
  color: #969696;
}
body{
  font-size: 14px;
  font-family: Raleway-Light;
  color: #2d2d2d;
}
/*-- Flex Classes & Properties--*/
.flex-initiate{
  display: flex;
}
.justify-align-center{
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-center{
  justify-content: center;
}

/*--Start Styling Header --*/
#nav{
  justify-content: space-between;
}
#logo{
  height: 50px;
  width: 100px;
}
#icon{
  height: 50px;
  width: 50px;
}
/*-- Start Styling Banner --*/
.banner-container{
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('images/banner-girl.png') no-repeat center, url('images/flower-bkgd.jpg') no-repeat center;
  background-size: cover,contain, cover;
  width: 100%;
  height: 375px;
}
.banner-text{
  color: white;
}
/*-- Start Styling Sections --*/
.product-description p{
  padding: 0px 10px;
}
.product-container{
  width: 80%
}
.product{
  margin-bottom: 15%
  width: 100%;
}
.product h3{
  line-height: 300%;
}
.product img{
  width: 100%;
}

/*--Start Styling First Footer --*/

.first-footer{
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/wave-bkgd.jpg');
  background-size: auto 260%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.textfield-container{
  align-items: flex-end;
  width: 100%;
  padding: 20px 0px 30px 0px;
}
.emailInput{
  width: 70%;
  height: 25px;
  border-radius: 15px;
  border: none;
  padding: 2px 0px 0px 8px;
  color: #969696;
}
.round-orange-button{
  border-radius: 25px;
  flex:1;
  background-color: #e2574c;
  height: 25px;
  margin: 2px 2px 0px 0px;
  border: none;
}
form{
  width: 75%
}
.embed-submit-field{
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 30px;
}
/*--START STYLING Second FOOTER --*/
.second-footer{
  background-color: #242424;
}
.underlined{
  text-decoration: underline;
}
.second-footer p{
  margin-top: 2%;
  padding-top: 12%;
}
.icons{
  padding-top: 5%;
  padding-bottom: 10%;
}
.icons li{
  display: inline;
  padding: 0px 8px;
}
.mob-hidden{
  display: none;
}
